

.websiteModalContainer{
    height: 100vh;
    width: 100%;
    background-color: #313131e8;
    z-index: 999;
    position: absolute;
    left: 0px;

}


.websiteSampleContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Webcontainer {
    position: relative;
    width: 300px;
    height: auto;
}

.Weboverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #bb2649;
}

.Webtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.Webimage {
    width: 300px;
    height: auto;   
}

.Webcontainer:hover .Weboverlay {
    opacity: 1;
    cursor: pointer;
}


.websiteSample{
    margin: 15px;
}


.websitebutton{
    background-color: #fff;
    border: none;
    padding: 5px 20px;
    margin: 5px;
}

.websitebuttoncode{
    background-color: #313131;
    color: #fff;
    border: none;
    padding: 5px 20px;
    margin: 5px;

}

.buttonsModal{
    position: absolute;
    top: 60%;
    left: 20%;
}


.websitebutton:hover {
    background-color: #313131;
}

.websitebuttoncode:hover{
    background-color: #fff;
}

.websiteclosebutton{
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 0px;
    right:10%;
    cursor: pointer;
}

.websiteclosebutton:hover{
    color: #bb2649;
}


